div {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border: 4px transparent;
    border-radius: 12px 12px 12px;
    position: relative;
    left: 76rem;
    font-size: 26px;
    font-family: Times;
    color: blue;
}

div:hover {
    color: red;
    
}

span {
    position: relative;
    right: 25rem;
    font-size: 26px;
    color: red;
}

span a{
    color: blue;
}

body {
    background-image: url(pictures/Welcome\ to\ the\ Thunderdome.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}


body header {
    font-size: 3rem ;
    color:red;
    position: relative;
    left: 34rem;
    top: 4rem;
}

body header a:hover {
    color: blue;
    transition: 3s;
}
